@import "./colors.scss";
.section {
    h1 {
        padding: 30px 0;
    }
    p {
        color: $dark;
        padding: 30px 0;
        font-size: 1rem;
        line-height: 26px;
        &.no-margin {
            padding: 0;
        }
        &.no-top-margin {
            padding-top: 0;
        }
        &.no-bottom-margin {
            padding-bottom: 0;
        }
    }
}